<!--
# ----------------------------------------------------------------------------
# Subject: MIS407
# Group  : 3
# Author : Yen Vo
# Date   : 04/25/2022
# version: 1.0
# ---------------------------------------------------------------------------
""" Define home page UI template """
# ---------------------------------------------------------------------------
# Changes
# 04/25/2022  Yen Vo             - Created home page UI template
#
# ---------------------------------------------------------------------------
-->

{% extends "isu_base.html" %}
{% load static %}

{% block page_content %}
<br/><br/>
<div align="center" width="100%">
    <table border="0">
        <tr>
            <td>Subject:</td>
            <td>MIS 407: Advanced Business Programming</td>
        </tr>
        <tr>
            <td>Professor:</td>
            <td>Dr. Guy Helmer</td>
        </tr>
        <tr>
            <td>Project:</td>
            <td>Car Inventory</td>
        </tr>
        <tr>
            <td>Student:</td>
            <td>Yen Vo</td>
        </tr>
    </table>
</div>


{% endblock %}